body {

    width: 100vw;
    overflow-x: hidden;
    background-color: black;
    /* position:absolute; */
}

* {
    margin: 0px;
    padding: 0px;
}

.background {
    /* height maine vh rakhi thi to kiya hota hai maine language and sign in neeche likha tha maine use uppar lane ke liyea top x px kiya to kiya hua px to same but hight small agar mai display hight am karu jis vajah se nav bar uppar aa jay apne original position se fir maine top lagaya tho vo uppar chala ja ra th screen chota karne pe is liyea hight px ki to sahi ho ra aur height bhi thodi move kar ri the hight kam karnr pe to dono problem solve is vaha se jaise image ki size ho  */
    height: 650px;
    border-bottom: 4px solid rgb(0, 191, 255);
    background-image: url(https://cdn.mos.cms.futurecdn.net/rDJegQJaCyGaYysj2g5XWY.jpg);
    /* image hai vo center mai he rahegi jub width hight change karenge tub bhi bus  width kam hogi ya hite kam hti jayagi 
    /* % se parent ki width leta hai  */
    background-position-x: center;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0 0 10px 10px;
    opacity: 0.25;
    background-color: rgb(171, 17, 17);
}

.logo {
    /* background-color: aliceblue; */
    width: 150px;
    margin-left: 150px;
    display: flex;
    position: relative;
}

.nav {
    /* ancester ke respect se hoga jis mai position lagi hogi koi varna html ke according change karega position  */
    position: absolute;
    display: flex;
    width: 100vw;
    color: red;
    height: 60px;
    top: 20px;
    justify-content: space-between;
    /* space deta hai beech mai lakin flex aur grid ke saath he kam aata hai */
    /* position:fixed top se kitna neeche vo value jati hai is mai bhale he ye div neeche he q na ho  
    aur is se agar jodiv ki blank sapce hoti hai neeche page ke vo bhi gayab ho jati hai  */
    /* border: 1px solid violet; */
}

.box {
    /* ancester ke respect se hoga jis mai position lagi hogi koi varna html ke according change karega position is case mai navke according ho ra */
    position: absolute;
    right: 150px;
    height: 55px;
    width: 202px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid palegreen; */
}

.lang {
    position: relative;
    font-size: 20px;
    border-radius: 7px;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.429);
    width: 100px;
    text-align: center;
    /* line height container ke hight ke jitna kiya to content y mai center ho jata hai  */
    /* line-height:30px; */
    height: 30px;
    margin-right: 10px;
    display: flex;
    z-index: 1;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.297);
}

.sign_in {
    font-size: 17px;
    text-align: center;
    position: relative;
    width: 80px;
    /* line-height: 26px; */
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(203, 2, 2);
    border: 2px solid rgb(203, 2, 2);
    border-radius: 7px;
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    /* transition-delay: 0.1s;  */
}

.sign_in:hover {
    background-color: rgb(165, 11, 11);
}

.pre {
    width: 100%;
    color: rgb(255, 255, 255);
    position: absolute;
    font-family: "Netflix sans", "helvetica neue", "segoe ui", roboto, ubuntu, sans-serif;
    top: 175px;
    /* border: 2px solid red; */
}

.upper {
    position: relative;
    font-size: 56px;
    font-weight: 900;
    line-height: 70px;
    text-align: center;
    width: 610px;
    height: 170px;
    margin: auto;
    /* border: 2px solid rgb(21, 0, 255); */

}

.lower {
    text-align: center;
    position: relative;
    bottom: 10px;
    width: 70vw;
    font-size: 20px;
    font-weight: 500;
    margin: auto;
    padding: 0 auto;

    /* border: 2px solid rgb(60, 255, 0); */

}

.lower2 {
    position: relative;
    top: 30px;
    width: 70vw;
    font-size: 16px;
    font-weight: 400;
    margin: auto;
    text-align: center;
    /* border: 2px solid rgb(60, 255, 0); */

}

.email {
    height: 55px;
    position: relative;
    top: 50px;
    display: flex;
    /* border: 2px solid rgb(60, 255, 0); */
    border-radius: 7px;
    justify-content: center;

}

.input {
    padding: 10px;
    color: aliceblue;
    display: flex;
    z-index: 0.2;
    width: 360px;
    background-color: rgba(0, 0, 0, 0.537);
    border: 1px solid grey;
    border-radius: 7px;
}

.get-started {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin-left: 13px;
    border-radius: 7px;
    background-color: rgb(203, 2, 2);
    border: 2px solid rgb(203, 2, 2);
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    /* transition-delay: 0.1s;  */
}

.get-started:hover {
    background-color: rgb(165, 11, 11);
}

/* :: sudo element ke liyea use karte hai  */
::placeholder {
    color: grey;
    font-size: 16px;
    /* background-color: aquamarine; */
}

.trending {
    font-weight: 500;
    padding-left: 40px;
    font-family: "Netflix sans", "helvetica neue", "segoe ui", roboto, ubuntu, sans-serif;
    color: white;
    position: relative;
    top: 120px;
    /* border: 2px solid rgb(203, 2, 2); */

}

.images {
    /* flex ek row mai lane ke liyea use kiya  */
    width: 100vw;
    display: flex;
    position: relative;
    top: 140px;
    overflow: auto;
    border-radius: 7px;
    background: linear-gradient(to bottom left, rgb(14, 14, 101), rgb(74, 11, 11), rgb(81, 16, 81), rgb(13, 69, 13));
    /* border: 2px solid rgb(203, 2, 2); */
}

.image {
    border-radius: 7px;
    margin: 0 15px;
    width: 150px;
    height: 210px;
    border: 2px solid rgb(180, 203, 2);
}
.videos {
    top: 160px;
    position: relative;
    top: 160px; 
    width: 100vw;
    /* border:2px solid red; */
}

.videos-inside {
    padding: 10px;
    display: flex;
    justify-content: center;
    border-radius: 7px;
    background: radial-gradient(circle, rgba(97, 14, 14, 0.858), rgba(21, 21, 128, 0.662));
    /* border: 2px solid rgb(26, 255, 0); */

}

.v {
    border-radius: 7px;
    margin: 5px 5px;
    width: 230px;
    height: 130px;
    border: 2px solid rgb(231, 122, 32);
}

.reason {
    /* width 100vw rakh ra padding left  5 vw rakh ra to total 105 vw ho ja ra   */
    color: rgba(255, 255, 255, 0.895);
    position: relative;
    width: 95vw;
    top: 190px;
    padding-left: 5vw;
    /* border: 2px solid rgb(231, 122, 32); */
}

.content {
    display: flex;
    justify-content: center;
    color: white;
    position: relative;
    top: 200px;
    width: 100vw;
    /* border: 2px solid blue; */
}

.why {
    position: relative;
    padding: 20px;
    width: 180px;
    height: 260px;
    /* linearly diff bg color lagane ke liyea  */
    background: linear-gradient(to bottom, rgba(2, 2, 62, 0.674), rgba(66, 2, 66, 0.728));
    border: 2px solid rgb(19, 2, 252);
    border-radius: 10px;

    transition-property: transition border;
    transition-duration: 0.5s;
    transition-delay: 0.1s;
    transition-timing-function: ease-in-out;
}

.why:hover {
    margin: 0px;
    padding: 20px;
    width: 200px;
    background: linear-gradient(to bottom, rgb(67, 101, 3), rgb(98, 33, 5));
    height: 280px;
    border: 2px solid rgba(247, 255, 2, 0.872);

}

.icon {
    width: 50px;
    /* border:2px solid red; */
    height: 50px;

}

.why h4 {
    color: rgba(255, 255, 255, 0.781);
    font-weight: 100;
    margin: 20px 0;
}

.monitor-icon {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.create-icon {
    position: absolute;
    bottom: 20px;
    right: 20px;

}

.watch-icon {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.downloade-icon {
    position: absolute;
    bottom: 20px;
    right: 20px;

}

.whole-faq {
    width: 100%;
    display: grid;
    row-gap: 4px;
    /* border: 2px solid rgb(111, 0, 255); */
    background: linear-gradient(to bottom left, rgba(113, 29, 29, 0.769), rgba(148, 64, 78, 0.756), rgba(24, 24, 99, 0.482), rgba(156, 116, 41, 0.728));
    position: relative;
    top: 230px;

}

.faq {
    padding-left: 5vw;
    color: white;
    /* text-align: center; */
    background-color: #000000;
    width: 95vw;
    /* border: 2px solid red; */
    margin-bottom: 20px;
    ;

}

.faq-content {
    background-color: rgba(79, 77, 77, 0.436);
    cursor: pointer;
    color: white;
    font-size: 24px;
    font-weight: 400;
    width: 940px;
    /* border: 2px solid red; */
    margin: 2px auto;
}

.faq-q::-webkit-details-marker {
    display: none;
}

.faq-q::marker {
    content: "";
}

.faq-q::after {
    content: "➕";
    position: absolute;
    right: 10px;
}

.faq-content[open] .faq-q::after {
    content: "✖";
}


.faq-q {
    position: relative;
    /* background-color: red; */
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    padding: 14px;
}

.faq-q:hover {
    background-color: rgba(78, 76, 76, 0.596);
    transition-property: background-color;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    /* transition-delay: 0.1s;  */
}

.faq-a {
    padding: 17px 14px;
}

.faq-a2 {
    padding: 17px 14px;
}

.footer {
    position: relative;
    top: 250px;
    padding-left: 40px;
    /* border:2px solid red; */
}

.links {
    /* border:2px solid red; */
    display: inline-block;
    width: 300px;
    margin: 40px;
    color: rgb(209, 208, 208);
}

.end {
    /* border: 2px solid rgba(247, 255, 2, 0.872); */
    color: rgb(215, 215, 215);
    margin: 10px 40px;
    height: 80px;
}


.links {
    margin: 40px;
    width: 100px;
}

/* idhar se website responsive bane us ke liyea media quirys likhi hai  */

@media only screen and (min-width:1480px) {
    .images {
        display: flex;
        justify-content: center;
    }

    .faq {
        padding-left: 10vw;
    }
}

@media only screen and (max-width:1280px) {

    .logo {
        margin-left: 80px;
        width: 100px;
    }

    .box {
        position: absolute;
        right: 80px;
        width: 150px;
    }

    .lang {
        width: 70px;
        font-size: 15px;
    }

    .sign_in {
        width: 50px;
        font-size: 13px;
    }

    .videos-inside {

        margin: 5px auto;
        width: 760px;
        display: flex;
        justify-content: center;
        grid-template-columns: 3, 1fr;
        /* border: 2px solid rgb(0, 255, 149); */
        flex-wrap: wrap;
    }

    .videos {
        display: flex;
        grid-template-columns: 3, 1fr;
        /* border: 2px solid red; */
        flex-wrap: wrap;

    }

    .v {
        width: 226px;
        height: 140px;
    }


    .reason {
        padding-left: 5%;
        /* border: 2px solid rgba(247, 255, 2, 0.872); */


    }

    .why {
        margin: 5px auto;
        width: 89%;
        height: 100px;

    }

    .content {
        /* border: 2px solid red; */
        padding: 0 auto;
        display: flex;
        flex-direction: column;
    }

    .why>h4 {
        /* background-color:red; */
        margin-right: 100px;
        padding-right: 100px;
    }

    .why:hover {
        margin: 0px;
        padding: 20px;
        width: 94%;
        background: linear-gradient(to bottom, rgb(67, 101, 3), rgb(98, 33, 5));
        height: 110px;
        border: 2px solid rgba(247, 255, 2, 0.872);

    }

    .whole-faq {
        /* border: 2px solid rgba(247, 255, 2, 0.872); */

    }

    .faq {
        /* border: 2px solid rgba(247, 255, 2, 0.872); */


    }

    .faq-content {
        width: 94vw;
        /* border: 2px solid rgba(247, 255, 2, 0.872); */

    }
}

@media only screen and (max-width:780px) {
    .logo {
        margin-left: 40px;
    }

    .box {
        position: absolute;
        right: 40px;
        width: 150px;
    }

    .upper {

        position: relative;
        font-size: 30px;
        font-weight: 700;
        line-height: 50px;
        text-align: center;
        width: 410px;
        height: 100px;
        margin: auto;
        /* border: 2px solid rgb(21, 0, 255); */

    }

    .lower {
        text-align: center;
        position: relative;
        top: 20px;
        width: 70vw;
        font-size: 15px;
        font-weight: 500;
        margin: auto;
        padding: 0 auto;

        /* border: 2px solid rgb(60, 255, 0); */

    }

    .lower2 {
        position: relative;
        top: 40px;
        width: 70vw;
        font-size: 16px;
        font-weight: 400;
        /* border: 2px solid rgb(60, 255, 0); */

    }

    .email {
        height: 55px;
        position: relative;
        top: 50px;
        display: flex;
        /* border: 2px solid rgb(60, 255, 0); */
        justify-content: center;

    }

    .input {
        display: flex;
        z-index: 0.2;
        width: 360px;
        background-color: rgba(0, 0, 0, 0.537);
        border: 1px solid grey;
        border-radius: 7px;
    }

    .get-started {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 140px;
        margin-left: 13px;
        font-size: 18px;
        border-radius: 7px;
        background-color: rgb(203, 2, 2);
        border: 2px solid rgb(203, 2, 2);
        transition-property: background-color;
        transition-duration: 0.5s;
        transition-timing-function: ease-in-out;
        /* transition-delay: 0.1s;  */
    }

    .image {
        margin: 0 5px;
        width: 100px;
        height: 150px;
    }

    .videos-inside {
        display: grid;
        justify-content: unset;
        grid-template-areas: "v1 v2"
            "v3 v3"
            "v4 v5";
        justify-items: center;
        /* border: 2px solid red; */
       
    }
    .videos{
        /* border: 2px solid red; */
    }

    .v1 {
        grid-area: v1;
    }

    .v2 {
        grid-area: v2;
    }

    .v3 {
        grid-area: v3;
    }

    .v4 {
        grid-area: v4;
    }

    .v5 {
        grid-area: v5;
    }




}

@media only screen and (max-width:490px) {
    .logo {
        width: 70px;
        margin-left: 20px;
    }

    .box {
        width: 120px;
        position: relative;
        right: 20px;
    }

    .lang {
        width: 50px;
        font-size: 10px;
    }

    .pre {
        height: 300px;
    }

    .upper {

        position: relative;
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
        text-align: center;
        width: 70vw;
        height: 60px;


    }

    .lower {
        text-align: center;
        position: relative;
        top: 10px;
        font-size: 13px;
        font-weight: 300;



    }

    .lower2 {
        position: relative;
        top: 40px;
        width: 70%;
        font-size: 12px;
        font-weight: 200;


    }

    .email {
        /* height: 110px; */
        position: relative;

        top: 50px;
        display: grid;
        grid-gap: 10px;

        border-radius: 7px;
        justify-items: center;

    }

    .input {
        padding: 0 5px;
        height: 50px;
        display: flex;
        z-index: 0.2;
        width: 80vw;
        ;
        background-color: rgba(0, 0, 0, 0.537);
        border: 1px solid grey;
        border-radius: 7px;
    }

    .get-started {
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 140px;
        margin-left: 13px;
        font-size: 18px;
        border-radius: 7px;
        background-color: rgb(203, 2, 2);
        border: 2px solid rgb(203, 2, 2);
        transition-property: background-color;
        transition-duration: 0.5s;
        transition-timing-function: ease-in-out;
        /* transition-delay: 0.1s;  */
    }

    .why h2 {
        font-size: 18px;
    }

    .why h4 {
        font-size: 10px;
        margin: 10px 20px;
    }

     .why{
        width:80%;
    }

    .v {
        width: 150px;
        height: 90px;
    }
    .faq{
        font-size:15px;
        /* border:2px solid red; */
    }

    .faq-content {
        font-size: 15px;
    }

    .links {
        font-size: 12px;
        /* border:2px solid red; */
        margin: 20px;
    }

}

@media only screen and (max-width:400px) {
    .v {

        width: 100px;
        height: 55px;
    }
    .faq{
        font-size:10px;
    }
   
}